[class^="ti-"].form-control-feedback,
[class*=" ti-"].form-control-feedback {
	margin-top:8px;
	font-size:22px;
}
#side-menu ul.nav {z-index:1000}
#side-menu li a {
  color: #fff;
}
#side-menu ul > li > a.active {
  color: #00c292;
}
a.btn:not([href]):not([tabindex]) {
  font-size: 12px;
}
span.caret{display: inline-block;}
.sidebar-nav > ul > li > a i {
    width: 25px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}
.form-control-feedback {right:18px !important}
.has-feedback .form-control {
    padding-right: 42.5px;
}
.widget-icon {
	position:absolute;
	right:15px;
	font-size:46px;
	top: 20%;
	opacity:0.3;
}
.date-mask{cursor:pointer;padding-top:8px !important;padding-left:35px;}
#btnResetFilter, #btnApplyFilter, #btnSubmit, #btnPreSubmit, #btnReset, #btnResetEdit {width:120px}
textarea{padding-top: 7px !important}
.input-mask-integer{text-align:left !important}
.form-material .input-group-addon {
	background-color: transparent;
	border: none;
}
.table-responsive {
	overflow: auto;
}
.w-100 {width:100%}
.m-5 {margin: 5px}
.p-5 {padding: 5px}
.p-l-5 {padding-left: 5px}
.p-r-5 {padding-right: 5px}
.table-responsive table thead tr th, .table-responsive table tbody tr td {white-space: nowrap;}
.modal-dialog.modal-fs {
  width: 95%;
  /*height: 90%;*/
  margin: 50px auto;
  padding: 0;
}

.modal-fs .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
input[readonly]{cursor:not-allowed}
/*
@media (min-width: 992px) {
	.table-responsive {
		overflow: initial;
	}
}
*/
